[submodule "third-party-repos/spring-ai"]
	path = third-party-repos/spring-ai
	url = git@github.com:guidogerb/spring-ai.git
[submodule "third-party-repos/spring-boot"]
	path = third-party-repos/spring-boot
	url = git@github.com:guidogerb/spring-boot.git
[submodule "third-party-repos/spring-framework"]
	path = third-party-repos/spring-framework
	url = git@github.com:guidogerb/spring-framework.git
[submodule "third-party-repos/spring-data-relational"]
	path = third-party-repos/spring-data-relational
	url = git@github.com:guidogerb/spring-data-relational.git
[submodule "third-party-repos/prompt-engineering-guide"]
	path = third-party-repos/prompt-engineering-guide
	url = git@github.com:guidogerb/Prompt-Engineering-Guide.git
[submodule "third-party-repos/ollama"]
	path = third-party-repos/ollama
	url = git@github.com:guidogerb/ollama.git
