/*
############     _header.scss      ############
*/

/* --------- Main Header --------- */
.main-header {
	position: relative;
	background: $primaryColor;
	max-height: 40px;
	color: white;

	> * {
		flex: 1 1 0;
	}
}

/* --------- Menu Button --------- */
.menu-button {
	display: block;
	position: relative;
	width: 26px;
	height: 20px;
	border: 10px solid transparent;

	span {
		display: block;
		position: absolute;
		top: 0;
		height: 3px;
		width: 100%;
		background: white;
		text-indent: 9999px;
		overflow: hidden;
		transform: rotate(0);
		transition-property: top, width, -webkit-transform;
		transition-property: top, width, transform, -webkit-transform;
		transition-property: top, width, transform;
		transition-timing-function: ease-in-out;
		transition-duration: 200ms;
		transition-delay: 200ms, 200ms, 0ms;

		&:nth-child(2) {
			top: calc(50% - 1.5px);
			left: 50%;
			transform: translate(-50%);
		}

		&:nth-child(3) {
			top: calc(100% - 3px);
		}
	}

	&.open {
		span {
			transition-delay: 0ms, 0ms, 200ms;
			top: calc(50% - 1.5px);

			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				width: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}

.hris-log__black {
	fill: #2f3541;
}

.hris-log__blue {
	fill: #1a99a9;
}

/* ==== Matching HRIS ==== */

.site-full {
	width: 100%;
	position: relative;
}

body {
	color: #666;
}

.outer-wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
}
.outer-wrapper__inner-wrapper {
	-webkit-transition: -webkit-transform 300ms cubic-bezier(.694, .0482, .335, 1);
	transition: transform 300ms cubic-bezier(.694, .0482, .335, 1);
	background: #FFFFFF;
	position: relative;
	width: 100%;
}

.header-wrapper {
	height: 52px;
	box-shadow: 0 -9px 5px 10px rgba(0, 0, 0, 0.2);
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.header-wrapper-placeholder {
	height: 52px;
	width: 100%;
}
.header-wrapper__header-content {
	height: 52px;
	line-height: 52px;
	color: #222;
	font-weight: 500;
	float: left;
	margin: 0 0 0 15px;
	cursor: pointer;
}
.header-wrapper__home {
	display: flex;
	align-items: center;
	&:hover {
		background: #A5CDD3;
	}
}
.header-content__svg {
	height: 34px;
	margin: 0 5px;
}
.header-wrapper__header-title {
	font-weight: bold;
	font-size: 1.1em;
	cursor: pointer;
}


.header-wrapper__home, .account-button-wrapper {
	transition: all 500ms;
}
#mainmenu-button-wrapper:hover, .home-button-wrapper:hover, #mainsearch-button-wrapper:hover, .account-button-wrapper:hover {
	background: #A5CDD3;
}

@media only screen and (max-width: 1023px) {
	#header-content {
		text-align: left;
	}
	.home-button-wrapper.show ~ #header-content {
		padding-left: 137px;
	}
	#dhrmname {
		padding-right: 0;
	}
}

#mainmenu-button-wrapper, .home-button-wrapper, #mainsearch-button-wrapper, .account-button-wrapper {
	transition: all 500ms;
}
#mainmenu-button-wrapper:hover, .home-button-wrapper:hover, #mainsearch-button-wrapper:hover, .account-button-wrapper:hover {
	background: #A5CDD3;
}
@media only screen and (max-width: 639px) {
	.account-button-wrapper {
		position: relative;
		right: 0;
		border-left: none;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	}
}
.account-button-wrapper {
	height: 52px;
	color: #222;
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	line-height: 52px;
	padding: 0 15px 0 25px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}
