/*
############     _button.scss      ############
*/
button {
	background: white;
	border-radius: $formBorderRadius;
	border: 0;
	color: $primaryColor;
	cursor: pointer;
	fill: $primaryColor;
	font-family: $normalFont;
	min-height: $buttonHeight;
	padding: 0 $buttonHeight / 2;
	position: relative;
	transition: all 200ms ease;

	&:hover {
		background: $primaryColor;
		color: white;
		fill: white;
	}

	&.complementary {
		color: $complementaryColor;
		fill: $complementaryColor;
		border-color: $complementaryColor;
		&:hover {
			background: $complementaryColor;
			color: white;
			fill: white;
		}
	}

	&.secondary {
		color: $secondaryColor;
		fill: $secondaryColor;
		border-color: $secondaryColor;
		&:hover {
			background: $secondaryColor;
			color: white;
			fill: white;
		}
	}

	&.neutral {
		color: $neutralColorDark;
		fill: $neutralColor;
		border-color: $neutralColor;
		&:hover {
			background: $neutralColor;
			color: white;
			fill: white;
		}
	}

	&[disabled],
	&[disabled]:hover {
		color: $gray30;
		border-color: $gray40;
		background: $gray60;
		cursor: default;

		&.button--solid {
			color: $gray05;
			background: $gray30;
			border-color: $gray30;
		}
	}

	&.button--solid {
		color: white;
		fill: white;
		background: $primaryColor;
		&:hover {
			background: $primaryColorDark;
			border-color: $primaryColorDark;
		}
		&.complementary {
			background: $complementaryColor;
			&:hover {
				background: $complementaryColorDark;
				border-color: $complementaryColorDark;
			}
		}
		&.secondary {
			background: $secondaryColor;
			&:hover {
				background: $secondaryColorDark;
				border-color: $secondaryColorDark;
			}
		}
		&.neutral {
			background: $neutralColor;
			&:hover {
				background: $neutralColorDark;
				border-color: $neutralColorDark;
			}
		}
	}

	&.button--small {
		font-size: .9rem;
		min-height: $buttonHeight - 4px;
	}

	&.button--large {
		font-size: 1.1rem;
		min-height: $buttonHeight + 10px;
	}

	&.button--icon {
		.button-label {
			padding: 0 1.2rem 0 0;
		}
		svg + .button-label {
			padding: 0 0 0 1.2rem;
		}
		svg {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(10px, -50%);
		}
		.button-label + svg {
			left: 100%;
			transform: translate(calc(-100% - 10px), -50%);
		}
		&.button--noLabel svg {
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.button--noChildren .button-label {
			padding: 0;
		}
	}

	&.busy {
		padding: 0 2.5rem 0 1.2rem;
		.css-spinner {
			display: block;
			position: absolute;
			left: 100%;
			top: 50%;
			transform: translate(calc(-100% - 10px), -50%);
		}
	}

	&.triggered {
		opacity: .5;
	}
}

/* ==== FROM HRIS ==== */
.button {

	box-sizing: border-box;
	border-radius: 3px;
	padding: 5px 15px;
	text-decoration: none;
	transition: all 400ms;
	color: #222;
	vertical-align: middle;
	border: 1px solid rgba(255,255,255,0);
	cursor: pointer;
	/* check mark on workflow buttons on proposed job need this to be relative in order to position correctly */
	position: relative;
}
.button:hover {
	-webkit-filter: brightness(70%);
	filter: brightness(70%)
}
.button:focus {
	border: 1px solid rgba(0,0,0,0.2);
}
.button.disabled {
	opacity: 0.25;
}
.button.disabled:hover {
	-webkit-filter: none;
	filter: none;
	cursor: default;
}
.button.large {
	display: block;
	font-size: 24px;
	line-height: 54px;
	padding: 10px;
	text-align: center;
	/* need position:relative so that the arrow image (which is absolute positioned) will go to the right position) */
	position: relative;
}
.button.medium {
	display: block;
	text-align: center;
}
.accessibilityview .button.large {
	border: 2px solid #FFFFFF;
}

.button.icon {
	display: block;
	float: left;
	width: 38px;
	height: 34px;
	margin: 0 0 0 -3px;
	padding: 3px 10px;
	border: 1px solid #fff;
	border-left: none;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	border-radius: 0 3px 3px 0;
	opacity:	 1;

	/* need position:relative so that icon images (which are absolute 50% positioned) will fit in the middle of the calendar) */
	position: relative;
}
.button.icon:hover {
	-webkit-filter: none;
	filter: none;
}
.button.icon:focus {
	box-shadow: inset 0 6px 6px rgba(0,0,0,0.3);
}

.button.fixedwidth125 {
	width: 125px;
	text-align: center;
}
.button.fixedwidth200 {
	width: 200px;
	text-align: center;
}
.shadowed.flex {
	flex: 1 1 100%;
}
.shadowed {
	position: relative;
	margin-bottom: 21px;
	z-index: -1;
}
.shadowed:after {
	content: '';
	display: inline-block;
	background: url("../img/curve-shadow.png") 0 0 no-repeat;
	background-size: contain;
	height: 64px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.shadowed.large:after {
	background-size: cover;
	height: 82px;
}
.button.shadowed:after {
	position: absolute;
	top: auto;
	bottom: -64px;
}
